/* glpat-p-iiMaT7auJs8sMC7374
expire 2023-03-23 */
html {
      box-sizing: border-box;
      font-size: 16px;
      font-family: sans-serif;
      scroll-behavior: smooth;
    }

    *,
    *::after,
    *::before {
      box-sizing: inherit;
    }

    a[href="#top"] {
      margin: 1rem;
      display: block;
      font-size: 2rem;
      text-align: center;
      text-decoration: none;
    }

    p {
      margin: 0;
    }

    h2 {
      margin-top: 50vh;
      text-align: center;
    }

    img {
      margin: auto;
      display: block;
      max-width: 100%;
      height: auto;
    }

    .menu {
      margin-bottom: 100vh;
      font-size: 125%;
    }

    .menu li {
      margin-bottom: 1rem;
    }

    .container {
      margin: 0 auto;
      width: 80%;
      height: 80vh;
      background-color: #222;
      border: medium solid #000;
    }

    .item {
      padding: 1rem;
      font-size: 1.25rem;
      background-color: #666;
      border: medium solid #999;
    }

    .sub-item{
        padding: 1rem;
        background-color: #ddd;
        border: medium solid #ccc;
    }
/*
====================================================================================================================================
GRID EXPLICITA
====================================================================================================================================
*/
    /*EL GRID esta por defecto en bloque*/
     /*aqui aparece una nueva UNIDAD DE MEDIDA
     LA FRACCION: es el espacion sobrante*/
    .grid-explicit{
        display: grid;
        /* se definen las columnas separadas por espacio */
        grid-template-columns: 50% 100px 1fr; /*aqui hay 3 columnas*/
        /*se definanen las filas separadas por espacio*/
        grid-template-rows: 2rem 20vh 30%; /*aqui hay 3 filas y el FR es el espacio sobrante*/
        /*sucede que la grid es de 3x3 pero como la tabla es mas grande, las celdas que no estan dentro de la grid, cuando se les pone contenido se adaptan al tamaño del contenido*/


        grid-template-columns: repeat(5, 20%); /*con repeat se generan 5 columnas de 20%*/
        grid-template-rows: repeat(4, auto); /*con auto se generan 4 filas de un tamaño que se adapte al tamaño de las columnas, pero si se le deja a 25% las filas se acomodan, pero el contenido se desborda. La idea es tener en cuenta  las columnas, para que las filas se adapten al valr determinado*/


        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        /*en este caso las 5 columans se adaptan al 100% del tamaño del contenedor, por que la fraccion o lo que sobra es el 100% enotnces se ajustan las 5 al tamaño correcto*/


        /* grid de 4col x 5fil */
        grid-template-columns: 20% 30% 30% 20%; /*20% repeat(2, 30%) 20% de esta manera tambien se puede escribir, la idea es que el repeat se usa para valores continuos*/
        grid-template-rows: repeat(5, auto);


        /*pare dejar espacios entre las filas y las columnas ESTO ESTA DEPRECIADO*/
        grid-row-gap: 1rem;
        grid-column-gap: 1rem;
        grid-gap: 100px 0;/*es el shorthand primero la distancia entre filas y despues la distancia entre columnas*/
        
        /*LOS HUECOS HACEN QUE SE DESBORDEN LAS CELDAS*/

        /*estos son los valores que se usan actualmente*/
        column-gap: 2rem;
        row-gap: 2rem;
        gap: 0 100%;
        gap: 0;
    }

    .grid-explicit .item:nth-child(10){
        color: red;
        grid-row-start: 2; /*aqui le estoy diciendo de que linea quiero que empiece*/
        grid-row-end: 3; /*aqui le estoy diciendo en que linea quiero que termine*/

        grid-column-start: 2;
        grid-column-end: 3;
        /*esto hace que el 10 suba un lugar empujando al 6 para acomodarse y de ahi todo se corre un lugar*/

        /*este es el shorthand*/
        grid-row: 2/3;
        grid-column: 3/4;
    
        grid-row: 2/3; /*grid-row-start/grid-row-end*/
        grid-column: 3/5; /*grid-column-start/grid-column-end*/
        /*de esta manera hacemos que la columna 10 no solo se mueva, sino que ocupe dos lugares, haciendo que se combinen celdas*/

        /* grid-area: grid-row-start/grid-row-end/grid-column-start/grid-column-end */
        grid-area: 2/3/3/5; /*esta es otra manera de escribir lo mismo*/
    }

    .grid-explicit .item:nth-child(12){
        color: cyan;
        grid-row: span 2; /*aqui se le esta diciendo que de donde esta, abarque dos filas*/
        grid-column: span 3; /*aqui se le dice que de donde esta, abarque tres columnas*/
        /*las celdas acomodan su tamaño para que todo entre en el elemnto padre*/
    }

    .grid-explicit .item:nth-child(15){
    color: greenyellow;
    grid-row: 1/span 2; /*empieza en la linea 1 de la fila y abarca 2 desde ahi*/
    grid-column: 1/span 2;/*empieza en la linea 1 de la columna y abarca 2 desde ahi*/
    /*si se le ponen valores muy grandes span 3 y span 4, el item10 se ocultaba, para enteder esto hay que conocer el FLUJO DE LA GRID*/
    }

/*
===============================================================================================
POSICIONAMIENTO CON NOMBRES DE GRID LINES
===============================================================================================
*/

.grid-line-names{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
    /*como hay 3 celdas en la columna, existen 4 lineas que las separan, lo mismo para las filas
    los nombres de las lineas se ponen entre corchetes*/
    grid-template-columns: [line-c1]1fr [line-c2]1fr [line-c3]1fr [line-c4];
    grid-template-rows: [line-r1]1fr [line-r2]1fr [line-r3]1fr [line-r4]; /*con esta linea el item 8 y 9 se acompodan y quedan mas pequeños, por que el     valor esta determinado en la fraccion*/
    grid-template-rows: [line-r1]auto [line-r2]auto [line-r3]auto [line-r4]; /*con esta linea los item 8 y 9 quedan de un tamaño similar por que se acomodan con el auto*/

}

.grid-line-names .item:nth-child(3){
    color: red;
    grid-row: line-r3/line-r4;
    grid-column: line-c1/line-c4;

    /*la GRID-AREA no funciona con la tecnica de ponerle nombres a las lineas  */
}

/*
=================================================================================================
POSICIONAMIENTO CON GRID AREAS
con esto se definen bien las estructuras o la composicion de lo que se va a ver
=================================================================================================
*/

.grid-areas{
    display: grid;
    grid-template-columns: 1fr 200px;
    grid-template-rows: 100px 1fr 60px;

    /*la sugerencia es que cada fila sea una linea de codigo*/
    grid-template-areas:
    "header header"
    "content sidebar"
    "footer footer";
    /*se le acaba de dar nombres a las areas*/

    /*
    grid-template-rows: 100px repeat(2, 1fr) 60px; /*en este caso hay 4 filas
    grid-template-areas:
    "header header"
    "content sidebar"
    "content sidebar" /*para que todo funcione pues se adiciona una fila mas con los nombres que se les deben dar
    "footer footer";
    */

    
    grid-template-rows: 100px repeat(2, 1fr) 60px; /*en este caso hay 4 filas*/
    grid-template-areas:
    "header header"
    "content sidebar"
    "content ." /*si deseo que en este lado de abajo del sidebar este vacio, SE PÓNE UN PUNTO eso hace que exista un hueco*/
    "footer footer";
    
}

.header{
    /* se pone header ya que arriba se le definio ese nombre */
    grid-area: header;
}

.content{
    grid-area: content;
}

.sidebar{
    grid-area: sidebar;
}

.footer{
    grid-area: footer;
}

/*
=========================================================================================================
GRID IMPLICITA - GRIDS DE BLOQUE Y DE LINEA
=========================================================================================================
*/

.grid-implicit{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 200px);
    /*las celdas que no estan definidas aqui, van a tomar el valor automatico, para acomodarse mejor, esto tambien se demuestra poniendole un parrafo y el tamaño de ese texto hace que la celda cresca*/
    
    width:40%;
    display:inline-grid; /*se corrio el cuadro padre a al izquierda de la pantalla, esto tambien es por que un elemento css inline no tiene margenes */
    /*al duplicar la section esta queda al lado de la otra, ya que se le cambio el ancho, para demostrar que esta funcionando como un elemento inline*/
}

/*
========================================================================================================
FLUJO DE LA GRID
========================================================================================================
*/

.grid-flow{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 150px);

    grid-auto-flow: row; /*valor por defecto*/
    /*grid-auto-flow: column; /*ya las celdas no van de izq a derecha, sino de arriba a abajo desde el lado izq*/

    grid-auto-rows: auto; /*valor por defecto*/
    grid-auto-rows: 100px; /*para las grids que se generen implicitamente se les da un valor, ya no sera automatico*/

    grid-auto-flow: column;
    grid-auto-columns: 50px; /*si se dispuso la grid en forma de columnas se le puede asignar un valor a las grid implicitas*/

}

.grid-flow-dense{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 200px);

    grid-auto-flow: row dense; /*esto se expliac abajo*/
}

.grid-flow-dense .item:nth-child(9){
    color:cyan;
    grid-row: span 3;
    grid-column: span 3;
    /*lo que sucede aqui es que se le pidio a una celda crecer mas de lo que cabia en su contenedor, entonces lo que hace al celda es bajar a un aespacion donde si tenga el espacio para lo que se le esta pidiendo. Antes tenia solo dos columnas al frente, ahora bajo a la izquierda en donde puede dispoenr de las tres columnas solicitadas*/

    /*entonces al padre se le pone el GRID-AUTO-FLOW: ROW DENSE y este dense hace que se rellenen los huecos que quedaron por el acaomodamiento de la gris 3x3
    esto tambien va a funcionar para GRID-AUTO-FLOW: COLUMN que se le puede poner el segundo valor DENSE*/
}

/*
========================================================================================================
GRID LAYERS: celdas en capas(superposicion)
========================================================================================================
*/

.grid-layers{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.grid-layers .item:nth-child(1){
    background-color: #DBEA33;
    grid-column: 1/3;
    grid-row: 1/3
}

.grid-layers .item:nth-child(2){
    background-color: #497AF8;
    grid-column: 3/5;
    grid-row: 1/3
}

.grid-layers .item:nth-child(3){
    background-color: #90E971;
    grid-column: 1/3;
    grid-row: 3/5
}

.grid-layers .item:nth-child(4){
    background-color: #F0952A;
    grid-column: 3/5;
    grid-row: 3/5
}

.grid-layers .item:nth-child(5){
    background-color: pink;
    opacity: 0.75;
    grid-column: 2/4;
    grid-row: 2/4
/*con solo el uso de la lineas se logra la super posicion de el elemento*/
}

/*
========================================================================================================

********************
elementos hijos ****  Orden de Grid Items
********************

========================================================================================================
*/

.grid-order{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    /* grid-auto-flow: column; con este valor tambien funciona solo qeu todo esta girado en columna*/
}

/*esta propiedad de orden aplica cuando los elementos estan dentro del flujo de la grid, si se le ha cambiado el flujo por las lineas o por nombres de area, la propiedad no funcionara adecuadamente*/


.grid-order .item:nth-child(1){
    order: 0; /*valor por defecto, acepta numeros positivos y negativos, enotnces mientras mas pequeño el numero estara al inicio y entre mas grande estara al final*/
    order:1; /*esto haria que este se fuera al final de todo */
}

.grid-order .item:nth-child(2){
    order:2;
}

.grid-order .item:nth-child(5){
    order:-1;
}
/*
========================================================================================================

********************
elementos hijos ****  alineamiento de Grid Items
********************

========================================================================================================
*/

.grid-align{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);

    justify-items: stretch; /*valor por defecto*/
    justify-items: start; /*este valor trabaja sobre el eje X, entonces el item se ha ido al lado izquierdo, osea al inicio del track de columna*/
    justify-items: end; /*alinea a la derecha del track de columna*/
    justify-items: center;

    /*ahora para alinearse respecto de Y*/
    align-items: stretch; /*valor por defecto, esta estirado el contenido*/
    align-items: start; /*como el eje principal es Y entocnes los elementos se van hacia arriba en su track de columna*/
    align-items: end;
    align-items: center; /*se logra un centrado perfecto en X y Y ya que el justify-items quedo en center tambien*/
}

/*cuando se quiere alienar solo un item*/
.grid-align .item:nth-child(4){
    justify-self: start; /*self por que hace referencia a si mismo*/
    align-self: start; 
}

/*
========================================================================================================

********************
elementos hijos ****  alineamiento de Grid Ttracks
********************

========================================================================================================
*/

.grid-align-tracks{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(2, 200px);

    /*justify-content  alinea los tracks de la grid  en el eje horizontal (X)*/
    justify-content: start;
    justify-content: end;
    justify-content: center;
    
    justify-content: space-between; /* reparte el espacio sobrante entre los tracks*/
    justify-content: space-around; /* reparte el espacio sobrante, pero si considera las orillas pero el tamaño de las orillas es la mitad del espacio de los espacios internos*/
    justify-content: space-evenly; /* space evenly reparte el espacio sobrante considerando las orillas y ese espacio es igual al espacio entre los elementos*/
    

    /* alinea los tracks de la grid en el eje vertical (Y) */
    align-content: start; /*valor por defecto*/
    align-content: end;
    align-content: center;
    align-content: space-between; /* reparte el espacio sobrante entre los tracks pero en la vertical*/
    align-content: space-around;/* reparte el espacio sobrante, pero si considera las orillas pero el tamaño de las orillas es la mitad del espacio de los espacios internos*/
    align-content: space-evenly; /* space evenly reparte el espacio sobrante considerando las orillas y ese espacio es igual al espacio entre los elementos*/ 
    
}


/*
========================================================================================================
Tamaños minimos y maximos de Grid Ttracks
========================================================================================================
*/

.grid-min-max{
    display: grid;

    /*
    minmax(el tamaño minimo que yo voy a permitir que la columna se ajuste "no se hace mas pequeño que 100 en este caso", el tamaño maximo "no crece mas de 200 en este caso") 
    com no se hace mas pequeño que 100 el poner mas pequeña la pantalla puede llegar a desbordarse por que se deja de reducir al llegar a 100
    */
    grid-template-columns: repeat(4, minmax(100px, 200px));

    /*=== MIN CONTENT ===*/

    /*el tamaño minimo sera el tamaño minimo del contenido que tenga los tracks en este caso "Grid Item 1" entonces el espacio se ajustara para dejar solo una palabra por linea*/
    /*
    Grid
    Item 1
    */
    grid-template-columns: repeat(4, minmax(min-content, 200px));

    /*ahora como al valor maximo le di el min content, enotnces el contenido se queda en dos lineas y de ahi no crece mas*/
    /*
    Grid
    Item 1
    */
    grid-template-columns: repeat(4, minmax(100px, min-content));
    
    /*=== MAX CONTENT ===*/

    /*este max content lo que hace es que ajusta al maximo valor depenciendo del tamaño del contenido*/
    /*HAY QUE TENER EN CUENTA QUE SE AFECTA TODO EL TRACK NO SOLO LA CELDA QUE TIENE UN CONTENIDO MUY GRANDE*/
    grid-template-columns: repeat(4, minmax(100px, max-content));

    grid-template-columns: repeat(4, minmax(max-content, 200px));



}



/*
========================================================================================================
grids con patrones repetitivos
========================================================================================================
*/

.grid-repeat{
    display: grid;
    /*como no se define filas, las filas se denominan impliicitas*/
    grid-template-columns: repeat(4, 1fr);

    /*tener cuidado con estos patrones repetitivos, por que se generan las 4 columnas pero queda mas contenido al lado fuera del contenedor repitiendo el patron indicado*/
    /*lo que sucede es que se repite 4 veces el patron 10 20 30 40*/
    grid-template-columns: repeat(4, 10% 20% 30% 40%);

    /*por lo tanto para que no se repita el patron señalado, se escribe 1, claro esta, si no se van a definir filas*/
    grid-template-columns: repeat(1, 10% 20% 30% 40%);

    /*estos patrones de repeticion se pueden agreagar tanto a filas como a columnas*/
    /*al ponerle:
    grid-auto-flow: 150px;
    las celdas implicitas toman ese valor y no el por defecto que es dejar que se acomoden a su contenedor
    sin embargo en esta propiedad no se puede usar el valor reapeat()
    */
}


/*
========================================================================================================
Grids dinamicas. responsive sin media queries
========================================================================================================
*/

.grid-dynamics{
    display: grid;
    /*aqui se hacen 4 columnas y queda una nueva fila con una columna abajo*/
    grid-template-columns: repeat(4, 100px);

    /*auto-fill rellena la grid con tracks generados dinamicamente*/
    /*aqui el auto fill lo que hizo fue tomar los 5 elementos del html y ponerlos en columna y si son bastantes elementos empieza a generar filas*/
    /*cuando se inspecciona el codigo la malla de la grid se va por todo el conenedor asi no haya nada */
    grid-template-columns: repeat(auto-fill, 100px);

    /*fit significa ajustar*/
    /* auto-fit ajusta la grid con los tracks existentes */
    /*cuando se inspecciona el codigo la grid queda unicamente hasta el ultimo elemento*/
    grid-template-columns: repeat(auto-fit, 90px);

    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); /*con este los cinco elemen se acomodan y al inspeccionar sale la malla en todo el espacio*/
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); /*con este los cinco elementos rellenan el espacio*/
}

.grid-responsive{
    display: grid;
    /*Aqui a medida que se hace mas pequeño el espacio se va adaptando el contenido a tener menos columnas*/
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1vw;
}


/*
========================================================================================================
Grids anidadas 
========================================================================================================
*/

.grid-nested{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*en el HTML se le agrega esta clase al article que contiene a los elementos anidados*/
}

/*
========================================================================================================
 subgrids : ESTA CARACTERISTICA SOLO ESTA IMPLEMENTADA EN FIREFOX,revisar can i use para verificar esto
========================================================================================================
*/

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.subgrid{
    /*para que la caracteristica de subgrid funcione es necesario hacer los siguientes 3 pasos

    1. Definir explicitamente el tamaño que ocupara el elemento que aplicara subgrid dentro del contenedor padre grig, es decir definir sus propiedades grid-column y grid row
    */
    grid-column: span 3;
    grid-row: 1 / 3;

    /*2. Aplicar display grid al elemento que aplicara subgrid*/
    display: grid;

    /*3. Aplicar el valor de subgrid a las columnas, a las filas o ambas depende de como se requiera*/
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
}

/*
========================================================================================================
Responsive Layout con Grid Lines
========================================================================================================
*/

































