@import url("otra-hoja.css ");

blockquote {
    background-color: #fff;
}

blockquote.cita-marco {
    background-color:#fff
}

blockquote .cita-marco {
    background-color:#fff
}

.cita-marco {
 background-color:#fff
}